<!DOCTYPE html>
<html>
  <head>
    <title>washify</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel='stylesheet' href='/stylesheets/tw-output.css' />
  </head>
  <body>
    <header class="header-border">
      <div class="text-9xl font-bold text-center text-white py-10">washify</div>
    </header>
    <main>
      <div class="w-3/5 bg-[var(--card-bg-color)] mx-auto my-10 rounded-3xl p-7">
        <p class="text-white text-4xl font-semibold">ベッドのシーツ</p>
        <div class="flex mt-10">
          <p class="text-[var(--text-date-color)] text-2xl">2023/03/09</p>
          <div class="flex ml-auto">
            <div class="mr-5">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
              </svg>
            </div>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
              </svg>              
            </div>
          </div>
        </div>
      </div>
    </main>
    <script type="text/javascript">
      const data = JSON.parse("<%= items %>".replaceAll("&#34;", "\""));
      console.log(`data=${data[0].id}`);
      console.log(`data=${data[1].id}`);
      console.log(`data=${data[2].id}`);
      console.log(`data=${data[3].id}`);

      const cardHtmlFormat = `
      <div class="w-3/5 bg-[var(--card-bg-color)] mx-auto my-10 rounded-3xl p-7">
        <p class="text-white text-4xl font-semibold">CARD_TITLE</p>
        <div class="flex mt-10">
          <p class="text-[var(--text-date-color)] text-2xl">CARD_DATE</p>
          <div class="flex ml-auto">
            <div class="mr-5">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
              </svg>
            </div>
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
              </svg>              
            </div>
          </div>
        </div>
      </div>
      `;

      for(const d of data) {
        console.log(d);
        const cardHtml = cardHtmlFormat.replace("CARD_TITLE", d.name).replace("CARD_DATE", d.created_at);
        const elm = document.createElement("div");
        elm.innerHTML = cardHtml;
        document.querySelector("main").appendChild(elm);
      }
    </script>
  </body>
</html>
