<!DOCTYPE html>
<html>
  <head>
    <title>washify</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel='stylesheet' href='/stylesheets/tw-output.css' />
  </head>
  <body>
    <p class="text-3xl font-bold underline">HelloWorld</p>
    <div><%= data.toString() %></div>
    <script type="text/javascript">
      console.log(`data=${"<%= data %>"}`);
    </script>
  </body>
</html>
