<!DOCTYPE html>
<html>
  <head>
    <title>washify</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel='stylesheet' href='/stylesheets/tw-output.css' />
  </head>
  <body>
    <header class="header-border">
      <div class="text-9xl font-bold text-center text-white py-10">washify</div>
    </header>
    <main>
      <div class="w-4/5 bg-[var(--card-bg-color)] mx-auto my-10 rounded-3xl p-7">
        <p class="text-white text-4xl font-semibold">ベッドのシーツ</p>
        <div class="flex mt-10">
          <p class="text-[var(--text-date-color)] text-2xl">2023/03/09</p>
          <div class="flex ml-auto">
            <div>鉛筆</div>
            <div>ゴミ箱</div>
          </div>
        </div>
      </div>
    </main>
    <script type="text/javascript">
      const data = JSON.parse("<%= items %>".replaceAll("&#34;", "\""));
      console.log(`data=${data[0].id}`);
      console.log(`data=${data[1].id}`);
      console.log(`data=${data[2].id}`);
      console.log(`data=${data[3].id}`);

      const cardHtmlFormat = `
      <div class="w-4/5 bg-[var(--card-bg-color)] mx-auto my-10 rounded-3xl p-7">
        <p class="text-white text-4xl font-semibold">CARD_TITLE</p>
        <div class="flex mt-10">
          <p class="text-[var(--text-date-color)] text-2xl">CARD_DATE</p>
          <div class="flex ml-auto">
            <div>鉛筆</div>
            <div>ゴミ箱</div>
          </div>
        </div>
      </div>
      `;

      

      for(const d of data) {
        console.log(d);
        const cardHtml = cardHtmlFormat.replace("CARD_TITLE", d.name).replace("CARD_DATE", d.created_at);
        // document.querySelector("main").createEle
      }
    </script>
  </body>
</html>
