<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel='stylesheet' href='/stylesheets/tw-output.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p class="text-3xl font-bold underline">Welcome to <%= title %></p>
  </body>
</html>
